.first_item #dis2 {
    position: relative;
    left: -208px;
}

.first_item #dis3 {
    position: relative;
    left: -274px;
}

.first_item #dis4 {
    position: relative;
    left: -340px;
}

.first_item #dis5 {
    position: relative;
    left: -406px;
}

.first_item #dis6 {
    position: relative;
    left: -472px;
}

.first_item #dis7 {
    position: relative;
    left: -538px;
}

.first_item #dis8 {
    position: relative;
    left: -604px;
}

.first_item #dis9 {
    position: relative;
    left: -670px;
}

.first_item #dis10 {
    position: relative;
    left: -736px;
}

.first_item #dis11 {
    position: relative;
    left: -802px;
}

.first_item #dis12 {
    position: relative;
    left: -868px;
}